<h2>New dish</h2>

<form action="/dishes" method="post">
  <p>
    <label for="">Name</label>
    <input type="text" name="name">
  </p>

  <p>
    <label for="">Image URL</label>
    <input type="text" name="image_url">
  </p>

  <button>Create</button>

</form>