<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>layout</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>layout file</h1>
  <%= yield %>

  <p>sdfsf<p>


  
</body>
</html>