
  <form action="/magic">
    <label for="search">Search for:</label>
    <input type="text" name="search_string" placeholder="hotdogs">
    <input type="text" name="food_type">
    <button>Give me hotdogs!!</button>
  </form>
