<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hello World</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<body>

  <header> <!-- HTML5 tags -->
    <h1><a href="/">good<span>food</span>hunting</a></h1>
  </header>

  <nav> <!-- HTML5 tags -->
    <ul>
      <% @dish_types.each do |dish_type| %>
        <li><a href="/dish_types/<%= dish_type.id %>"><%= dish_type.name %></a></li>
      <% end %>
    </ul>
  </nav>
  
  <main> <!-- HTML5 tags -->
    <%= yield %>
  </main>

</body>