<h2>New dish</h2>

<form action="/dishes" method="post">
  <p>
    <label for="">Name</label>
    <input type="text" name="name">
  </p>

  <p>
    <label for="">Image URL</label>
    <input type="text" name="image_url">
  </p>

  <p>
    <label for="">Dish Type</label>
    <select name="dish_type_id" id="">
      <% DishType.all.each do |dish_type| %>
        <option value="<%= dish_type.id %>"><%= dish_type.name %></option>  
      <% end %>
    </select>
  </p>

  <button>Create</button>

</form>