body {
  margin: 0 auto;
  max-width: 900px;
}

img {
  float: left;
  max-width: 100%;
}

.span-1, .span-2, .span-3 {
  min-height: 100px;
  float: left;
  margin: 0 0.5555555%; /* 10 / 900 = 0.0111111 */
  margin-bottom: 10px; 
  width: 98.88888%;  /* 890 / 900 = 0.9888888 */
}

.span-1 {
  background-color: mistyrose;
  /* width: 32.222222%;  290 / 900 = 0.3222222  */
}

.span-2 {
  background-color: plum;
  /* width: 65.555555%; /* 590 / 900 = 0.6555555 */
}

.span-3 {
  background-color: wheat;
  width: 98.88888%;  /* 890 / 900 = 0.9888888 */
}

@media all and (min-width: 600px) {

  .span-1 {
    width: 32.222222%;
  }

  .span-2 {
    width: 65.555555%;
  }
}

@media all and (min-width: 1000px) {
  body {
    font-size: 1.5em;
  }
}