<h1>todor</h1>

<div class="tasks"></div>


<script>

  var displayTasks = function(data) {

    var $tasks = $('.tasks');

    data.forEach(function(task) { // ecmascript 5 forEach

      var newTask = $('<p>')
        .attr("data-id", task.id)
        .html(task.body + ' ' + task.completed);

      $tasks.append(newTask);
    });
  }

  var options = {
    url: 'http://localhost:5000/todos.json'
  }

  $.ajax(options).done(displayTasks);

  $('.tasks').on('click', 'p', function(event) {
    var id = $(this).data('id');
    $.ajax({
      url: 'http://localhost:5000/todos/' + id,
      type: 'put'
    }).done();

  });
  
</script>
