<h1>todor ajaxify</h1>

<input id="newTaskInput" type="text">
<button id="newTaskBtn">new task</button>
<div class="tasks"></div>

<script id="taskTemplate" type="text/x-underscore-template">
  <div class="task {{ completedClass }}" data-id="{{ id }}">
    <span>{{ body }}</span>
    <button>kill me</button>
  </div>
</script>

<script>
  _.templateSettings = {
    interpolate: /\{\{(.+?)\}\}/g
  };  

  var renderTaskTemplate = function(task) {
    var html = _.template( $("#taskTemplate").html() );
    task.completedClass = task.completed ? 'completed': '';
    return html(task);
  }

  // fetch task and display
  var displayTasks = function(data) {
    var $tasks = $('.tasks');
    data.forEach(function(task) { // es5 forEach
      $tasks.append(renderTaskTemplate(task));
    });
  }

  $.ajax({
    url: 'http://localhost:5000/todos.json'
  }).done(displayTasks);

  // create new task
  $('#newTaskBtn').on('click', function() {
    var $input = $('#newTaskInput');
    $.ajax({
      url: 'http://localhost:5000/todos',
      type: 'post',
      data: { body: $input.val() }
    }).done(function(task) {
      $input.val('');
      $('.tasks').append(renderTaskTemplate(task));
    });
  });

  // toggle complete
  $('.tasks').on('click', 'span', function(event) {
    console.log('what is this:', this);  // the this keyword is pointing to the element the user clicked on
    var id = $(this).parent().data('id');

    $.ajax({
      url: 'http://localhost:5000/todos/' + id,
      type: 'put',
      context: this
    }).done(function() {
      $(this).closest('div').toggleClass('completed');
    });
  });

  // delete task
  $('.tasks').on('click', 'button', function() {
    var id = $(this).parent().data('id');

    $.ajax({
      url: 'http://localhost:5000/todos/' + id,
      type: 'delete',
      context: this
    }).done(function() {
      $(this).closest('div').remove();
    })

  });
  
</script>
