<h1>todor</h1>

<%#= @task[0] %>
<div></div>

<button>fetch tasks</button>

<script>

  var displayTasks = function(data) {
    console.log('displaying');

    data.forEach(function(task) { // ecmascript 5 forEach
      $('div').append($('<p>').html(task.body));
    });

  }

  $('button').on('click', function() {
    $.getJSON('http://localhost:4567/todos.json', displayTasks);    
  });
  

</script>
