<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>todor</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/underscore.js"></script>
</head>
<body>

  <%= yield %>

</body>